
{% extends "home.html" %}
{% load crispy_forms_tags %}

{% block title %}

My Hello Page
{% endblock %}
{% block content %}

<div class="container">
  <center>
        <form method="POST" class="uniForm">
        {% csrf_token %}
        {{form | crispy }}
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>
        Don't have an account? <a href="/login" target="blank"><strong>register here</strong></a>!
        </center>
    </div>
{% endblock %}
